<div id="platform-setting" class="container platform" [@settingState]="settingState">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">挑战你的记忆极限</h3>
        </div>
        <div class="panel-body">
            <form class="" (submit)="init()">
                <fieldset>
                    <div id="setting-container">
                        <div class="form-group text-center">
                            <div id="setting-hard-level" class="help-block">
                                <div class="btn-group" role="group" >
                                    <button type="button"
                                            class="btn {{hardLevel === 1 ? 'btn-info' : 'btn-default'}}"
                                            (click)="onSetHardLevel.emit(1);">简单</button>
                                    <button type="button"
                                            class="btn {{hardLevel === 2 ? 'btn-info' : 'btn-default'}}"
                                            (click)="onSetHardLevel.emit(2);">正常</button>
                                    <button type="button"
                                            class="btn {{hardLevel === 3 ? 'btn-info' : 'btn-default'}}"
                                            (click)="onSetHardLevel.emit(3);">困难</button>
                                </div>
                            </div>
                            <div id="setting-media" class="help-block">
                                <div class="btn-group" role="group" >
                                    <button type="button"
                                            class="btn {{mediaState === 0 ? 'btn-info' : 'btn-default'}}"
                                            (click)="onSetMedia.emit(0);">安静</button>
                                    <button type="button"
                                            class="btn {{mediaState === 1 ? 'btn-info' : 'btn-default'}}"
                                            (click)="onSetMedia.emit(1);">语音</button>
                                </div>
                            </div>
                            <div class="help-block">
                                挑战个数（<span class="bg-danger text-danger">1-999</span>）：
                                <span id="setting-count"
                                      class="text-center {{count === 0 ? 'bg-danger text-danger': 'bg-info text-info'}}">{{count}}</span>

                            </div>
                        </div>

                        <div class="form-group text-center">
                            <game-keyboard id="keyboard-setting"
                                           [disabledBtn]="disabledBtn"
                                           [keyboardType]="keyboardType"
                                           (onKeyDown)="inputCount($event)"></game-keyboard>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>