<div id="platform-setting" class="container platform" [@settingState]="settingState">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">挑战你的记忆极限</h3>
        </div>
        <div class="panel-body">
            <form class="" (submit)="init()">
                <fieldset>
                    <div id="setting-container">
                        <p class="help-block text-left">
                            <span>输入你能记住的数字个数，然后 开始</span>
                            <span class="bg-danger text-danger">（1-999）</span></p>
                        <div class="form-group text-center {{count === 0 ? 'text-danger': 'text-info'}}">
                            <p id="setting-tip">先来 <span>{{count}}</span> 个</p>
                        </div>

                        <div class="form-group text-center">
                            <game-keyboard id="keyboard-setting"
                                           [disabledBtn]="disabledBtn"
                                           [keyboardType]="keyboardType"
                                           (onKeyDown)="inputCount($event)"></game-keyboard>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>