<div class="game-main-layer" [@gameMainState]="gameMainState">
    <div id="ready-layer" class="text-center" [ngClass]="{'active':gameState === GAMESTATE.READY}">
        <span>深呼吸...</span>
        <br>
        <br>
        <span>即将出现 {{count}} 个数字...</span>
        <br>
        <br>
        <span>一定要记住哟！</span>
    </div>
    <div id="number-pool-container" class="clearfix"
         [ngClass]="{'full': gameState===GAMESTATE.END}">
        <div class="panel panel-info"
             [ngClass]="{'panel-info':gameState===GAMESTATE.SHOWING || gameState===GAMESTATE.WAITING,
             'panel-success':gameState===GAMESTATE.END && score === 100,
             'panel-warning':gameState===GAMESTATE.END && score >=60 && score < 100,
             'panel-danger':gameState===GAMESTATE.END && score <60}"
             *ngIf="gameState!==GAMESTATE.READY && questionPool && questionPool.length > 0">
            <div class="panel-heading">
                <h3 class="panel-title"
                    *ngIf="gameState===GAMESTATE.SHOWING || gameState===GAMESTATE.WAITING">请依次填入数字：</h3>
                <h3 class="panel-title"
                    *ngIf="gameState===GAMESTATE.END && score === 100">恭喜你！完全正确！</h3>
                <h3 class="panel-title"
                    *ngIf="gameState===GAMESTATE.END && score >=60 && score < 100">这就到达你的上限了？...</h3>
                <h3 class="panel-title"
                    *ngIf="gameState===GAMESTATE.END && score < 60">亲，你的脑神经已经紊乱...</h3>
            </div>
            <div #questionPoolBody class="panel-body">
                <h6 class="text-danger" *ngIf="gameState===GAMESTATE.END && score < 100">点击错误数字，可查看正确答案</h6>
                <button type="button" class="btn btn-default number-item"
                        onfocus="this.blur();"
                        *ngFor="let question of questionPool; let i = index"
                        [ngClass]="{'btn-default': gameState===GAMESTATE.WAITING && !question.active,
                        'btn-info': gameState===GAMESTATE.WAITING && question.active,
                        'btn-success': gameState===GAMESTATE.END && (question.right || question.value === question.answer),
                        'btn-danger': gameState===GAMESTATE.END && (!question.right && question.value !== question.answer)
                        }"
                        (click)="setCurIndex(i)">{{question.answer}}
                </button>
            </div>
        </div>
    </div>
    <div id="cur-number-main"
         [ngClass]="{'active': gameState===GAMESTATE.SHOWING}">
        <div id="cur-number" [ngClass]="{'active': curNumberActive}">
            <span>{{curNumber}}</span>
        </div>
    </div>
    <div class="form-group text-center" *ngIf="gameState===GAMESTATE.WAITING">
        <game-keyboard id="keyboard-game"
                       [keyboardType]="keyboardType"
                       (onKeyDown)="inputCount($event)"></game-keyboard>
    </div>
    <div id="game-buttons" *ngIf="gameState===GAMESTATE.END">
        <div class="row">
            <div class="col-xs-6 text-center">
                <button type="button" class="btn btn-primary"
                        *ngIf="score===100 && count <= 999"
                        (click)="setCount(1)">晋级 +1
                </button>
                <button type="button" class="btn btn-warning"
                        *ngIf="score===100 && count === 999"
                        (click)="setCount(0)">我的神啊，再玩一次吧？
                </button>
                <button type="button" class="btn btn-warning"
                        *ngIf="score<100 && count >= 4"
                        (click)="setCount(-2)">降级 -2
                </button>
                <button type="button" class="btn btn-danger"
                        *ngIf="score<100 && count < 4"
                        (click)="setCount(0)">重新来过
                </button>
            </div>
            <div class="col-xs-6 text-center">
                <button type="button" class="btn btn-default" (click)="goSetting()">设 置</button>
            </div>
        </div>
    </div>


</div>