.platform {
    /*position: relative;*/
    /*padding: 1rem;*/
    /*margin: 1rem auto;*/
}
.breadcrumb {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

#platform-container {
    max-width: 530px;
}
main .container {
    max-width: 500px;
}
.keyboard .container {
    max-width: 100%;
}
.keyboard .row {
    margin: 0;
}

#platform-setting {
    margin-top: 40px;
    /*background-color: #c1dbe2;*/
    /*-webkit-border-radius: 5px;*/
    /*-moz-border-radius: 5px;*/
    /*border-radius: 5px;*/
}
#setting-container {
    /*display: inline-block;*/
}


.keyboard .btn {
    margin: 10px auto;
    width: 100%;
}
.keyboard .btn:focus {
    outline: none;
}