<div id="platform-container" class="container">
    <!--<game-setting (onChangeCount)="changeCount($event)"></game-setting>-->
    <game-setting
        (onSetCount)="changeCount($event)"
        (onSetHardLevel)="changeHardLevel($event)"
        (onSetMedia)="changeMediaState($event)"
        (onSetGameActive)="setGameActive($event)"
        *ngIf = "!gameActive"
        [count]="count"
        [hardLevel]="hardLevel"
        [mediaState]="mediaState"></game-setting>
    <game-main
        (onSetCount)="changeCount($event)"
        (onSetGameActive)="setGameActive($event)"
        *ngIf = "gameActive"
        [count]="count"
        [hardLevel]="hardLevel"
        [mediaState]="mediaState"
        [gameActive]="gameActive"></game-main>
</div>